<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>

<p>working Okay</p>

<center>

    <h1>ABOUT US</h1>           <!--Type h1 and  tab for better typing shortcut-->
    <h1></h1>

    <h4>We Are a Beautiful Company</h4>
    <hr>

    <hr>
    <img src="../static/img2.png" alt="" width="600">       <!--.. indicate that you get out of the folder to the upper folder. windows command-->
    <hr>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab ad atque corporis, dignissimos distinctio dolore explicabo </p>
        <p>in ipsam labore laboriosam minima molestiae neque perspiciatis
        praesentium repellendus reprehenderit rerum? Impedit, non?
    </p>


    <!-- typing the word Lorem and tb will give you default text as shown below-->
</center>

</body>
</html>