<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<center>
<h1 class=jumbotron>CHARTS</h1>

<figure>
    <embed src="/graph1" type="image/svg+xml" width="500">


    <embed src="/graph2" type="image/svg+xml" width="500">
</figure>
<hr>
<figure>
    <embed src="/graph3" type="image/svg+xml" width="500">

    <embed src="/graph4" type="image/svg+xml" width="500">
</figure>
</center>
</body>
</html>