<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<center>

    <a href="/search" class=" btn btn-primary">SEARCH EMPLOYEE</a>                     |
    <a href="/male_salaries" class=" btn btn-primary">MALE EMPLOYEE SALARIES</a>                 |
    <a href="/save" class=" btn btn-primary">SAVE RECORDS</a>                    |
    <a href="/details" class=" btn btn-primary">DETAILS</a>          |
    <a href="/analysis" class=" btn btn-primary">ANALYSIS</a>                 |
    <a href="/contacts" class=" btn btn-primary">CONTACTS</a>                 |
    <a href="aboutus"class=" btn btn-primary">ABOUT</a>
    <a href="/search_gender"class=" btn btn-primary">GENDER GRAPHS</a>

    <h1 class="jumbotron">KENY DATA ANALYTICS</h1>           <!--Type h1 and  tab for better typing shortcut-->
    <h6>We help Analyze and Tabulate Your Data</h6>
    <img src="../static/img1.png" alt="" width="600">       <!--.. indicate that you get out of the folder to the upper folder. windows command-->
    <hr>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ab ad atque corporis, dignissimos distinctio dolore explicabo </p>
        <p>in ipsam labore laboriosam minima molestiae neque perspiciatis
        praesentium repellendus reprehenderit rerum? Impedit, non?
    </p>


    <!-- typing the word Lorem and tb will give you default text as shown below-->
</center>

</body>
</html>